.top {
    height: 200px;
    background-image: url(../img/photo_2020-04-20_18-06-16.jpg)
        
}

h1 {
    margin-top: 70px;
    text-align: center;
    color: #191970;
    text-decoration: underline;
}

section{
    margin: 20px;
}

body {
    background-color: #E0FFFF;
}

.ancor {
    background-color: #AFEEEE;
    padding: 10px 20px;
}